*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size:62.5%;

}
body{
    font-size: 1.6rem;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: darkgray;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background: rgb(139, 35, 55);
}

.nav_brand{
    text-transform: uppercase;
    font-weight: bold;
}

.nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.nav_toggler div{
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: rgb(167, 154, 154);
    transition: 0.3s ease-in;

}

.nav_toggler{
    display: none;
}

@media  screen and (max-width: 768px) {
    .nav_toggler{
        display: block;
        cursor:pointer;
    }
    .nav_menu{
        position: fixed;
        top: 7vh;
        right:  0;
        width: 50vw;
        height: 93vh;
        background: rgb(167, 154, 154);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
}

.nav_active {
    transform: translateX(0%);
}

/* Toggler icon animation */
.toggle .line1 {
    transform: rotate(-45deg) translate(-4px,5px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-4px,-5px);
}